<div class="navbar">
  <img class="logo" src="../../../assets/images/Vetor.png" alt="logo" (click)="toHome()">
  <div class="navitems">
    <button id="home" class="item" (click)="navClick($event)">Home</button>
    <p class="item" style="color: white;">|</p>
    <button id="valores" class="item" (click)="navClick($event)">Valores</button>
    <p class="item" style="color: white;">|</p>
    <button id="login" class="item" (click)="navClick($event)">Login</button>
    <p class="item" style="color: white;">|</p>
    <button id="cadastro" class="item" (click)="navClick($event)">Cadastro</button>
  </div>
</div>