<div class="header">
    <my-navbar style="min-width: 100vw; padding: 50px 0px;"></my-navbar>
  <div class="bodyValues">
    <h1>Escolha seu plano</h1>
    <h3>Venha treinar com os melhores</h3>
    <div>
      <img class="cartao" src="../../../assets/images/visa.jpeg" alt="visa">
      <img class="cartao" src="../../../assets/images/mastercard.jpeg" alt="mastercard">
      <img class="cartao" src="../../../assets/images/elo.jpeg" alt="elo">
    </div>
    <h2>Mais popular</h2>
    <div class="planos">
      <div class="item">
        <h1>Mensal</h1>
        <p class="discount">30% OFF nos dois primeiros meses</p>
        <p>Pague somente R$84 nos 
          dois primeiros meses!</p>
          <div class="beneficios">
            <div class="benef">
              <i class="fas fa-check"></i>
              <p class="pItem">Avaliação física</p>
            </div>
            <div class="benef">
              <i class="fas fa-check"></i>
              <p class="pItem">1 Conta</p>
            </div>
            <div class="benef">
              <i class="fas fa-check"></i>
              <p class="pItem">Treino montado de acordo com seu 
                objetivo</p>
            </div>
          </div>
          <button class="btn">Escolher</button>
      </div>
      <div class="itemPopular">
        <h1>Anual</h1>
        <p class="discount">30% OFF nos dois primeiros meses</p>
        <p>Pague somente R$63 nos dois primeiros meses!</p>
        <div class="beneficios">
          <div class="benef">
            <i class="fas fa-check"></i>
            <p class="pItem">Avaliação física</p>
          </div>
          <div class="benef">
            <i class="fas fa-check"></i>
            <p class="pItem">1 Conta</p>
          </div>
          <div class="benef">
            <i class="fas fa-check"></i>
            <p class="pItem">Treino montado de acordo com seu 
              objetivo</p>
          </div>
          <div class="benef">
            <i class="fas fa-check"></i>
            <p class="pItem">Economize 25%</p>
          </div>
        </div>
        <button class="btn">Escolher</button>
      </div>
      <div class="item">
        <h1>Trimestral</h1>
        <p class="discount">30% OFF nos dois primeiros meses</p>
        <p>Pague somente R$77 nos 
          dois primeiros meses!</p>
          <div class="beneficios">
            <div class="benef">
              <i class="fas fa-check"></i>
              <p class="pItem">Avaliação física</p>
            </div>
            <div class="benef">
              <i class="fas fa-check"></i>
              <p class="pItem">1 Conta</p>
            </div>
            <div class="benef">
              <i class="fas fa-check"></i>
              <p class="pItem">Treino montado de acordo com seu 
                objetivo</p>
            </div>
          </div>
          <button class="btn">Escolher</button>
      </div>
    </div>
  </div>
  
    <my-footer style="min-width: 100vw; bottom: 0; padding-top: 20px;"></my-footer>
</div>