<div class="sidebar">
  <i class="fas fa-user-circle fa-6x"></i>
  <p>{{nome}}</p>


  <div class="navbar">
    <p id="professor" class="navitem" (click)="navClick($event)">Dados do usuário</p>
    <p id="criartreino" class="navitem" (click)="navClick($event)">Criar treino</p>
    <p id="cadastrarprof" class="navitem" (click)="navClick($event)">Cadastrar professor</p>
    <p id="dadosprof" class="navitem" (click)="navClick($event)">Alterar dados do usuário</p>
    <p style="color: white;" class="navitem" (click)="sairBtn()">Sair</p>
  </div>

  <img class="imageNav" src="../../../assets/images/Vetor.png" alt="logo">
</div>